svg {
	fill: black;
	stroke: black;
}

.row {
	fill: black;
	stroke: none;
}
.col {
	fill: black;
	stroke: none;
}
.corner {
	fill: black;
	stroke: none;
}
.center {
	fill: cyan;
	stroke: none;
}
.path {
	fill: magenta;
	stroke: none;
}
.hide {
	display: none;
}
